on:
  release:
    types:
      - published

jobs:
  release_artifacts:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: "Set artifact version"
        run: |
          release_number=$(echo $GITHUB_REF | cut -d / -f 3)
          echo Artifact version: ${release_number}
          echo "version=${release_number}" > gradle.properties

      - name: Install Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Publish Java artifact
        run: ./gradlew publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
