on:
  release:
    types:
      - published

jobs:
  release_artifacts:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: "Set artifact version"
        run: |
          release_number=$(echo $GITHUB_REF | cut -d / -f 3)
          echo Artifact version: ${release_number}
          echo "version=${release_number}" > gradle.properties

      - name: Install Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Publish Java artifact
        run: ./gradlew publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
